* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial;
}

#navegadorCentrado{
    text-align: center;
    
}

#navegadorCentrado li{
    display: inline;
}

nav ul li a{
    color: black !important;
    text-decoration: none !important;
}

nav ul li{
    padding: 10px;
}

#logoUTSC{
    width: 70px ;
    height: 50px;
    margin-top: 10px;
    margin-right: 90px;
}

#regresoClases{
    width: 100%;
}
.row{
    width: 100%;
}
.row > div{
    margin-top: 10px;
    padding: 20px;
    width: 100%;
}

#modeloInclusivo{
    text-align: justify;
    background-color: #276D68;
}

.tituloInclusion{
    line-height: 36px;
    color: white;
    font-family: 'Times New Roman';
}

#parrafoInfo{
    margin-top: 30px;
    margin-bottom: 60px;
    color: white;
}

#botonConoce{
    background-color: #C99E73;
    color: white;
}

.vinculacion{
    width: 100%;
    height: 300px;
}

.contenedor{
    position: relative;
}

.textoEncima{
    position: absolute;
    top: 60px;
    font-size: smaller;
    text-align: center;
}

.vinculacionTitulo{
    color: #7B2E82;
    font-weight: bold;
    font-family: 'Times New Roman';
    text-align: center;
}

footer{
    background-color: #4D4D4D;
}

.titulosFooter{
    font-weight: bold;
}

#textoFooter{
 color: white;   
 text-align: justify;
 font-size: 14px;
}

.mapa{
    background-color: green;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.derechos{
    text-align: center;
    font-size: 14px;
}